@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
}

.font1 {
  font-family: "Nunito Variable", sans-serif;
}

.wg500 {
  font-weight: 500;
}

.wg700 {
  font-weight: 700;
}

.wg900 {
  font-weight: 900;
}

.transition-3 {
  transition: all 0.3s;
}

.header-shadow {
  box-shadow: 0px -5px 10px #222;
}
